# Translations
*.mo

# VSCode preferences
.vscode

# Meson
_build/
_builddir/

# Flatpak-builder
repo/
flatpak/.flatpak-builder/
.flatpak-builder/

# Project-specific
debug/
target/
src/config.rs
*.ui.in~
*.ui~
vendor/
**/*.rs.bk
*.pdb
